.header {
    background-color: white;
    width: auto;
    height: 200px;
    padding: 50px 0px 0px 100px;
    display: flex;
    justify-content: space-between;
}

.logoOP {
    width: 300px;
    height: auto;
}

.links {
    align-self: center;
    display: flex;
    text-decoration: none;
    padding-right: 100px;
    font-size: 20px;
    gap: 100px;
}

a {
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    color: #2E63A4;
}


.sectionOne {
    background-color: white;
    width: auto;
    height: 200px;
}

.sectionTwo {
    background-color: #60BFF5;
    width: auto;
    height: 200px;
}

.sectionThree {
    background-color: #2E63A4;
    width: auto;
    height: 200px;
}

.sectionFour {
    background-color: #AF6528;
    width: auto;
    height: 200px;
}

.footer {
    background-color: #FFCE00;
    width: auto;
    height: 200px;
}